<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
>

<head>
    <meta charset="utf-8"> <!-- utf-8 works for most cases -->
    <meta name="viewport" content="width=device-width"> <!-- Forcing initial-scale shouldn't be necessary -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Use the latest (edge) version of IE rendering engine -->
    <meta name="x-apple-disable-message-reformatting"> <!-- Disable auto-scale in iOS 10 Mail entirely -->
    <title></title> <!-- The title tag shows in email notifications, like Android 4.4. -->

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">

    <!-- CSS Reset : BEGIN -->
    <style>
        /* What it does: Remove spaces around the email design added by some email clients. */
        /* Beware: It can remove the padding / margin and add a background color to the compose a reply window. */
        html,
        body {
            margin: 0 auto !important;
            padding: 0 !important;
            height: 100% !important;
            width: 100% !important;
            background: #f1f1f1;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            font-size: 1rem;
            line-height: 1.8;
            color: rgba(0, 0, 0, .4);
        }

        /* What it does: Stops email clients resizing small text. */
        * {
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        /* What it does: Centers email on Android 4.4 */
        div[style*="margin: 16px 0"] {
            margin: 0 !important;
        }

        /* What it does: Stops Outlook from adding extra spacing to tables. */
        table,
        td {
            mso-table-lspace: 0 !important;
            mso-table-rspace: 0 !important;
        }

        /* What it does: Fixes webkit padding issue. */
        table {
            border-spacing: 0 !important;
            border-collapse: collapse !important;
            table-layout: fixed !important;
            margin: 0 auto !important;
        }

        /* What it does: Uses a better rendering method when resizing images in IE. */
        img {
            -ms-interpolation-mode: bicubic;
        }

        /* What it does: Prevents Windows 10 Mail from underlining links despite inline CSS. Styles for underlined links should be inline. */
        a {
            text-decoration: none;
        }

        /* What it does: A work-around for email clients meddling in triggered links. */
        *[x-apple-data-detectors],
            /* iOS */
        .unstyle-auto-detected-links *,
        .aBn {
            border-bottom: 0 !important;
            cursor: default !important;
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }

        /* What it does: Prevents Gmail from displaying a download button on large, non-linked images. */
        .a6S {
            display: none !important;
            opacity: 0.01 !important;
        }

        /* What it does: Prevents Gmail from changing the text color in conversation threads. */
        .im {
            color: inherit !important;
        }

        /* If the above doesn't work, add a .g-img class to any image in question. */
        img.g-img + div {
            display: none !important;
        }

        /* What it does: Removes right gutter in Gmail iOS app: https://github.com/TedGoas/Cerberus/issues/89  */
        /* Create one of these media queries for each additional viewport size you'd like to fix */

        /* iPhone 4, 4S, 5, 5S, 5C, and 5SE */
        @media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
            u ~ div .email-container {
                min-width: 320px !important;
            }
        }

        /* iPhone 6, 6S, 7, 8, and X */
        @media only screen and (min-device-width: 375px) and (max-device-width: 413px) {
            u ~ div .email-container {
                min-width: 375px !important;
            }
        }

        /* iPhone 6+, 7+, and 8+ */
        @media only screen and (min-device-width: 414px) {
            u ~ div .email-container {
                min-width: 414px !important;
            }
        }
    </style>

    <!-- CSS Reset : END -->

    <!-- Progressive Enhancements : BEGIN -->
    <style>
        .primary {
            background: #30e3ca;
        }

        .bg_white {
            background: #ffffff;
        }

        .bg_light {
            background: #fafafa;
        }

        .bg_black {
            background: #000000;
        }

        .bg_dark {
            background: rgba(0, 0, 0, .8);
        }

        .email-section {
            padding: 0.5em 1em;
        }

        /*BUTTON*/
        .btn {
            padding: 10px 15px;
            display: inline-block;
        }

        .btn.btn-primary {
            border-radius: 5px;
            background: #30e3ca;
            color: #ffffff;
        }

        .btn.btn-white {
            border-radius: 5px;
            background: #ffffff;
            color: #000000;
        }

        .btn.btn-white-outline {
            border-radius: 5px;
            background: transparent;
            border: 1px solid #fff;
            color: #fff;
        }

        .btn.btn-black-outline {
            border-radius: 0px;
            background: transparent;
            border: 2px solid #000;
            color: #000;
            font-weight: 700;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Lato', sans-serif;
            color: #000000;
            margin-top: 0;
            font-weight: 400;
        }

        a {
            color: #30e3ca;
        }

        /*LOGO*/

        .logo h1 {
            margin: 0;
        }

        .logo h1 a {
            color: #30e3ca;
            font-size: 24px;
            font-weight: 700;
            font-family: 'Lato', sans-serif;
        }

        /*HERO*/
        .hero {
            position: relative;
            z-index: 0;
        }

        .hero .text {
            color: rgba(0, 0, 0, .3);
        }

        .hero .text h2 {
            color: #000;
            font-size: 40px;
            margin-bottom: 0;
            font-weight: 400;
            line-height: 1.4;
        }

        .hero .text h3 {
            font-size: 24px;
            font-weight: 300;
        }

        .hero .text h2 span {
            font-weight: 600;
            color: #30e3ca;
        }


        /*FOOTER*/

        .footer {
            border-top: 1px solid rgba(0, 0, 0, .05);
            color: rgba(0, 0, 0, .5);
        }

        .footer .heading {
            color: #000;
            font-size: 20px;
        }

        .footer ul {
            margin: 0;
            padding: 0;
        }

        .footer ul li {
            list-style: none;
            margin-bottom: 10px;
        }

        .footer ul li a {
            color: rgba(0, 0, 0, 1);
        }

        @media screen and (max-width: 500px) {
        }
        .text table {
            width: 100%;
            border-collapse: collapse;
            color: black;
        }
        .text table thead th {
            background-color: #FF6A4B;
            font-weight: bold;
            text-align: center;
            vertical-align: center;
            height: 1.5rem;
        }

        .text table tbody tr td:first-child {
            width: 2rem;
            overflow: hidden;
            display: inline-block;
            white-space: nowrap;
        }

        .text table td, th {
            border: 1px solid gray;
            font-size: 11px;
        }

    </style>


</head>

<body width="100%" style="margin: 0; padding: 0 !important; mso-line-height-rule: exactly; background-color: #f1f1f1;">
<div style="width: 100%; background-color: #f1f1f1; text-align: center;">
    <div
            style="display: none; font-size: 1px;max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; font-family: sans-serif;">
        &zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;
    </div>
    <div style="max-width: 600px; margin: 0 auto; border: 1px solid lightgrey" class="email-container">

        <table role="presentation" style="margin: auto; width: 100%; mso-cellspacing: 0">
            <tr>
                <td valign="top" class="bg_white" style="padding: 1em 2.5em 0 2.5em;">
                    <table role="presentation" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td class="logo" style="text-align: left;">
                                <img src="https://static.wixstatic.com/media/72ac26_93a5ba6baaa741ffaa0d06db680205e6~mv2.png/v1/fill/w_206,h_45,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/basistek%20logo-TR.png" width="100px" height="25px" />
                            </td>
                            <!-- <td class="hero bg_white" style="padding: 1em 0 1em 0;">
                                <img src="images/email.png" alt=""
                                    style="width: 25px; max-width: 50px; height: auto; margin: auto; display: block;">
                            </td> -->
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td class="hero bg_white" style="padding: 2em 0 4em 0;">
                    <div class="text" style="padding: 0 1em; text-align: left;">
                        <h4>Hello Team,</h4>
                        <p style="color: black">{{ .Description }}</p>
                        <p>{{ .Body }}</p>
                        <h4>Kind regards</h4>
                    </div>
                </td>
            </tr>
        </table>

        <table role="presentation" style="margin: auto; font-size: 11px; width: 100%; mso-cellspacing: 0;">
            <!-- <tr>
                <td valign="middle" class="bg_light footer email-section">
                    <table>
                        <tr>
                            <td valign="top" width="50%" style="padding-top: 10px;">
                                <table role="presentation" cellspacing="0" cellpadding="0" width="100%">
                                    <tr>
                                        <td style="text-align: left; padding-right: 10px;">
                                            <h3 class="heading">About</h3>
                                            <p><b>Value Added IT Solutions</b></p>
                                            <p>BASISTEK provides solutions for digitizing and managing IT
                                                infrastructures, removing IT from being a cost center where routine
                                                tasks are carried out, and positioning it as a value-producing unit
                                                for the enterprise. We deliver a portfolio of software that can be
                                                scaled at an enterprise level, delivering even the most complex
                                                solutions to the most complex needs</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td valign="top" width="50%" style="padding-top: 10px;">
                                <table role="presentation" cellspacing="0" cellpadding="0" width="100%">
                                    <tr>
                                        <td style="text-align: left; padding-left: 5px; padding-right: 5px;">
                                            <h3 class="heading">Contact Info</h3>
                                            <ul>
                                                <li>
                                                    <span class="text">
                                                        <b>1.</b> Kozyatağı Mahallesi, Sarıkanarya Sk. Yolbulan
                                                        Plaza B Blok
                                                        Kat:8 No:16 34742 Kadıköy / İstanbul / Türkiye
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="text">
                                                        <b>2.</b> 1-111-THUB2, 1-113-THUB2, Dubai Silicon Oasis P.O.
                                                        Box: 341395 Dubai, UAE
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="text">
                                                        <b>3.</b> Prince Abdulaziz Ibn Musaid Ibn Jalawi، As
                                                        Sulimaniyah, Riyadh 12243 11372, Suudi Arabistan
                                                    </span>
                                                </li>
                                                <li><span class="text"><b>Phone:</b> +90 216 549 1973</span></a>
                                                </li>
                                                <li><span class="text"><b>E-mail:</b> info@basistek.com</span></a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr> -->
            <tr>
                <td class="bg_light" style="text-align: center;">
                    <h1><a href="https://basistek.com">
                            <img src="https://static.wixstatic.com/media/72ac26_93a5ba6baaa741ffaa0d06db680205e6~mv2.png/v1/fill/w_206,h_45,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/basistek%20logo-TR.png" width="100px"
                                                            height="25px" alt="basistek logo"/></a></h1>
                </td>
            </tr>
            <tr>
                <td class="bg_light" style="text-align: center;">
                    <p>ISTANBUL | ANKARA | RIYADH | DUBAI</p>
                </td>
            </tr>
        </table>

    </div>
</div>
</body>

</html>